
@{
    Layout = null;
}

<!DOCTYPE html>

<html><head>
    <meta name="viewport" content="width=device-width" />
    <title>ApplicationError</title>
</head>
<body>
    <div>
        Application Error - 500
    </div>
</body></html>
