@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <strong class="label label-primary pull-right">Tag Control <span class="fa fa-hashtag"></span></strong>
</div>
